body {
  background-color: cadetblue;
  color: white;
  font-family: sans-serif;
}
img{
  object-fit: scale-down;
}
.box0{
  position: fixed;
  top: 5%;
  left: 2.5%;
  color: black;
  background-color: khaki;
  padding: 12px;
  border-radius: 6px;
}
.ph_PH {
  background-color: white;
  border-radius: 6px;
  font-size: 24px;
  padding: 12px;
  transition:
}
.ph_FLAG {
  position: fixed;
  left: 55%;
}
.en_UK {
  background-color: white;
  border-radius: 6px;
  font-size: 24px;
  padding: 12px;
  transition:
}
.en_FLAG{
  position: fixed;
  top: 20%;
  left: 55%;
}
.de_DE {
  background-color: white;
  border-radius: 6px;
  font-size: 24px;
  padding: 12px;
  transition:
}
.de_FLAG{
  position: fixed;
  top: 33%;
  left: 55%;
}
.fr_FR {
  background-color: white;
  border-radius: 6px;
  font-size: 24px;
  padding: 12px;
  transition:
}
.fr_FLAG{
  position: fixed;
  top: 60%;
  left: 55%;
}
.it_IT {
  background-color: white;
  border-radius: 6px;
  font-size: 24px;
  padding: 12px;
  transition:
}
.it_FLAG{
  position: fixed;
  top: 70%;
  left: 55%;
}
.es_ES {
  background-color: white;
  border-radius: 6px;
  font-size: 24px;
  padding: 12px;
  transition:
}
.es_FLAG{
  position: fixed;
  top: 48%;
  left: 55%;
}
.ru_RU {
  background-color: white;
  border-radius: 6px;
  font-size: 24px;
  padding: 12px;
  transition:
}
.ru_FLAG{
  position: fixed;
  top: 80%;
  left: 55%;
}
