body {
  background-color: cadetblue;
  font-family: pixel;
}
@font-face {
  font-family: pixel;
  src: url(SFPixelate.ttf);
}
@font-face {
  font-family: pixel;
  src: url(SFPixelate-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: pixel;
  src: url(SFPixelate-Oblique.ttf);
  font-style: oblique;
}
@font-face {
  font-family: pixel;
  src: url(SFPixelate-BoldOblique.ttf);
  font-style: oblique;
  font-weight: bold;
}
.menubar > a {
  color: brown;
  border-radius: 15px;
  background-color: blanchedalmond;
  padding: 6px;
  border-top: 0px;
  border-bottom: 2px;
  border-right: 1px;
  border-left: 0px;
  border-style: solid;
  border-color: blueviolet;
  transition: top 0.5s ease-in-out;
}
.menubar > a:hover {
  font-style: italic;
  top: 89%;
  color: black;
}
h1.name {
  color: chartreuse;
  position: fixed;
  top: 20%;
  left: 20%;
  font-size: 92px;
}
.menubar {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto auto;
  position: fixed;
  top: 86%;
  left: 5%;
  width: 85%;
  padding: 15px;
  border-radius: 20px;
}
