body {
  background-color: cadetblue;
  font-family: pixel;
}
@font-face {
  font-family: pixel;
  src: url(SFPixelate.ttf);
}
@font-face {
  font-family: pixel;
  src: url(SFPixelate-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: pixel;
  src: url(SFPixelate-Oblique.ttf);
  font-style: oblique;
}
@font-face {
  font-family: pixel;
  src: url(SFPixelate-BoldOblique.ttf);
  font-style: oblique;
  font-weight: bold;
}
a {
  color: brown;
  position: fixed;
  top: 93%;
  border-radius: 15px;
  background-color: coral;
  padding: 6px;
  border: 3px burlywood solid;
  transition: top 0.5s ease-in-out;
}
a:hover {
  font-style: italic;
  top: 89%;
  color: black;
}
h1.name {
  color: chartreuse;
  position: fixed;
  top: 20%;
  left: 20%;
  font-size: 92px;
}
.menubar {
  position: fixed;
  top: 90%;
  left: 5%;
  width: 85%;
  padding: 15px;
  border: 3px burlywood solid;
  border-radius: 20px;
  background-color: coral;
}
