h1 {
	color: #6f4e37;
	font-family: courier;
	font-size: 250%;
	text-align: center;
}
p.name {
	color: light-blue;
	font-family: noto-serif;
	font-size: 160%;
	text-align: center;
}
sle {
	color: brown;
	font-family: ubuntu;
	font-size: 100%;
	text-align: center;
}
body {
	background-color: #FFE5B4;
	font-family: times-new-roman;
	font-size; 160%;
}
prt {
	font-family: time-new-roman;
	font-size: 200%;
}
p.one {
	border-width: 3px
	border-style: dashed;
	font-family: times-new-roman;
	font-size: 160%;
	text-align: center;
}
h6 {
	font-family: times-new-roman;
	color: black;
}
