@font-face {
    font-family: Oswald;
    src: url(./static/Oswald-Regular.ttf);
 }
@font-face{
    font-family: Oswald;
    src: url(./static/Oswald-Semibold.ttf);
    font-weight: bold;
}
@font-face{
    font-family: Oswald;
    src: url(./static/Oswald-Bold.ttf);
    font-weight: bolder;
}
@font-face{
    font-family: Oswald;
    src: url(./static/Oswald-SemiBold.ttf);
    font-weight: bold;
}
@font-face{
    font-family: Oswald-body;
    src: url(./static/Oswald-Light.ttf);
}
@font-face{
    font-family: Oswald;
    src: url(./static/Oswald-ExtraLight.ttf);
}
@font-face{
    font-family: Oswald-Em;
    src: url(./static/Oswald-Medium.ttf);
}