:root {
  --yellow-green:#CCFF00;
  --peachy-green:#F4FFBF;
}
body {
  background-color: var(--yellow-green);
}
h1 {
  border-radius: 15px;
  border: 5px;
  padding: 20px;
  border-style: solid;
  border-color: #474D27;
  background-color: var(--peachy-green);
}
p.tab{
  position: fixed;
  top: 13%;
  left: 4%;
  border-radius: 15px;
  border-top: 2px;
  border-left: 5px;
  border-right: 5px;
  border-bottom: 5px;
  padding: 20px;
  border-style: solid;
  border-color: #474D27;
  background-color: var(--peachy-green);
}
leftcol {
  left: 2%;
  position: fixed;
}
rightcol {
  left: 52%;
  position: fixed;
}
