:root{
  --posx: 1%;
  --posx2: 15.5%;
  --posx3: -14%;
}
body{
  background-color: lightsteelblue;
}
a{
  color: gray;
  font-family: sans-serif;
  font-weight: bold;
}
h1.heading:nth-child(1){
  font-family: sans-serif;
  color: lightslategray;
  position: fixed;
  top: 6%;
  left: 20%;
  font-size: 80px;
}
h1.heading:nth-child(2){
  font-family: sans-serif;
  color: lightslategray;
  position: fixed;
  top: 15%;
  left: 32%;
  font-size: 62px;
}
.list{
  margin-right: 5%;
  font-family: sans-serif;
  background-color: lightsalmon;
  color:indigo;
  border: 1px;
  padding: 6px;
  padding-right: 4%;
  border-radius: 15px;
  position: fixed;
  height: 100%;
  left:var(--posx3);
  transition: left 1s ease-in-out;
}
.list:hover {
  left: var(--posx);
}
.res{
  margin-bottom: 2%;
  border-radius: 15px;
  text-align: center;
  border: 1px;
  padding:6px;
  background-color: lightsteelblue;
}
