p.Ttitle {
	color:brown;
	font-size:240%;
	margin-top:80px;
	margin-bottom:300px;
	text-align:center;
}
p.Contrib {
	color:brown;
	font-size:160%;
	text-align:center;
}
body {
	background-color:#FFE5B4;
}
.tableofcontents {
	color:black;
	margin-top:80px;
	font-size:100%;
}
